//
   Created by Aki Mäkinen on 28.2.2016.

div {{$ctrl.about}}
div
  p
    | This template uses AngularJS version >= 1.5. <br/>
    | TODO: ng-annotate fixes, css injection, model and service templates, test that things work after minify.
    br
    br
    | -Aki Mäkinen, 2016. Released under MIT License.
